* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-img {
  background-image: url("../images/back2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.favoright {
  background-image: url("../images/b-g1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
}

.hidden {
  visibility: hidden;
  position: absolute;

  display: flex;
  gap: 1em;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 2px 2px 5px darkgrey;
}

.hidden li {
  list-style: none;
  padding: 1.5em 0em;
  font-size: 1rem;
  color: blue;
  cursor: pointer;
}

.list li a {
  color:rgb(115, 13, 141);
  text-decoration: none;
  padding-left: 1.5em;
}

.list:hover .hidden {
  visibility: visible;
  z-index: 1;
}

.flex-direction {
  display: flex;
  justify-content: end;
}

.lips-beauty img {
  width: 100%;
  height: 200px;
  box-shadow: 2px 2px 2px 2px lightgray;
}

.lips-beauty {
  border: 2px solid red;
  width: 18%;
}

.img-curds {
  justify-content: space-between;
}

.looks {
  background-image: url("/images/skincare.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.empty1 {
  background-image: url("/images/lotion1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.empty2 {
  background-image: url("/images/look1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.empty3 {
  background-image: url("/images/look2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.empty4 {
  background-image: url("/images/back2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.empty5 {
  background-image: url("/images/oli2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.empty6 {
  background-image: url("/images/Mizani_Banner_1950x.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.empty7 {
  background-image: url("/images/skincare.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.looks-curds {
  width: 50%;

  flex-wrap: nowrap;
}

.look-curd1 img {
  width: 100%;
  height: 200px;
}

.look-curd1 {
  border: 2px solid red;
  background-color: #fff;
  height: 40vh;
  width: 200px;
  margin: 3em;
}

.my-image img{
  width:50%;
  height: 400px;
}
.hottest-products{
  display: flex;
}

.black-november1{
  display: flex;
  justify-content: space-between;
}

footer{
  background-image: url("/images/footer3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.icons{
  background-color: red;
  padding: 2em;
  display: flex;
  justify-content: end;
 

}

.footer-icons{
  display: flex;
  gap: 3em;
  justify-content: center;
 
}

.dark{
  color: #fff;
  background-color:black;
}

.shopping{
  margin: 0em 2em;
}


