* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav li a{
 color: red;
  font-size: 1rem;
 
}

.bg-img {
  background-image: url("../images/back2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.favoright {
  background-image: url("../images/b-g1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
}

.hidden {
  visibility: hidden;
  position: absolute;

  display: flex;
  gap: 1em;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 2px 2px 5px darkgrey;
}

.look-curd1 p{
  padding-left: 2em;
  color: #621D67;
  font-size: 1.1rem;
}

.look-curd1 :hover{
  transform: scale(1);

}

.look-curd1 {
  transition: 2s;
}


.hidden li {
  list-style: none;
  padding: 1.5em 0em;
  font-size: 1rem;
  color: blue;
  cursor: pointer;
}

.list li a {
  color:rgb(115, 13, 141);
  text-decoration: none;
  padding-left: 1.5em;
}

.list:hover .hidden {
  visibility: visible;
  z-index: 1;
}

.flex-direction {
  display: flex;
  justify-content: end;
}

.lips-beauty img {
  width: 100%;
  height: 200px;
  
}

.beauty-100 img{
  width: 30px;
  height: 30px;
  margin: 1em;
}

.beauty-content{
  
  background-color:#fff;
  height: 40vh;
color: #621D67;
justify-content: center;
}

.beauty h3{
  font-size: 2rem;
  margin: 2em;
}


.beauty-100{
  border-radius:10px;
  margin: 3em 0em;
  flex-wrap: wrap;
  justify-content: space-between;

}

.lips-beauty {
  border: 2px solid #621D67;
  border-radius: 10px;
  width: 18%;
  

}

.lips-beauty p{
  text-align: center;
  color:#621D67;
}

.lips-beauty img{
  border-radius: 5px;
}

.img-curds {
  justify-content: space-between;
  box-shadow: 2px 2px 2px  2px purple;
 border-radius: 10px;
  margin: 3em 0em;
  background-color:#fff;
  padding: 2em;
}

.looks {
  background-image: url("../images/skincare.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.carousel-inner p{
font-size: 4rem;
color: #fff;
padding: 2em;
text-align: center;
}


.empty1 {
  background-image: url("../images/lotion1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.empty2 {
  background-image: url("../images/free.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.empty3 {
  background-image: url("../images/lagos.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.empty4 {
  background-image: url("../images/jiwel1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.empty5 {
  background-image: url("../images/oli2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.empty6 {
  background-image: url("../images/footer3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.empty7 {
  background-image: url("../images/pink.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}


.empty8{
  background-image: url("../images/nails.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.empty9 {
  background-image: url("../images/brazilian.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.empty10{
  background-image: url("../images/face\ beauty.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}





.looks-curds {
  width: 50%;

  flex-wrap: nowrap;
}

.look-curd1 img {
  width: 100%;
  height: 200px;
}

.look-curd1 {
  box-shadow: 2px 2px 2px  2px purple;
  background-color: #fff;
  width: 200px;
  margin: 3em;
}

.look-curd1{
  border-radius: 5px;
  
  
  display: block;
  
  background-color: 621D67;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.look-curd1:hover {
  background-color: #FFCCCC;
 cursor: pointer;
  transform: rotate(360deg);
}

.my-image{

width: 100%;
border-radius: 5px;
border: 2px solid purple;

}




.my-image p{
  text-align:center;
}

.hot2{
  text-align: center;
  font-size: 2rem;
}




.my-image img{
width: 90%;
  height: 400px;
  margin-left: 2em;
  border-radius: 5px;

  
}
.hottest-products{
  display: flex;
}

.black-november2{
  margin-top: 2em;
  border-radius: 10px;
  border: 2px solid #621D67;
 
}

.black-november2 h2{
  text-align: center;
  margin: 2em;
}

.black-november1{
  display: flex;
  justify-content: space-between;
  border: 2px solid purple;
  background-color: #621D67;
}

.black{
  display: flex;
margin: 3em;
}

footer{
  background-image: url("../images/pink.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  margin: 2em 0em;
  border-radius: 10px;
  background-size: cover;
  /* height: 60vh; */
}

.icons{
  background-color: purple;
  /* padding: 2em; */
  display: flex;
  justify-content: end;
  font-size: 2rem;
  color: #fff;
  
 

}

.looks{
  position: relative;
}


.footer-li{
  margin: 3em;
}

.medal ul li{
list-style-type: none;

}

.medal a{
  font-size: 2rem;
}

.footer-li ul li a{
  margin: 2em;
  font-size: 1rem;
  list-style: none;
  
 
}

.footer-li ul li a{
  color: #fff;
  margin-bottom: 1em;
  font-size: 1rem;
}



.footer-icons{
  display: flex;
  gap: 3em;
  justify-content: center;
  font-size: 3rem;
  margin-top: 10%;
  border-top: 2px solid #fff;
  
 
}

.dark{
  color: #fff;
  background-color:black;

}

.dark li{
  color:#621D67;
  font-size:1rem;
}

.shopping{
  margin: 0em 2em;
}


.beauty p,h3{
  text-align: center;
  font-size: 1.5rem;
}

.beauty-btn{
  width: 100%;
  border-radius: 5px;
  padding: 1.5em;
  border: none;
  background-color:#621D67 ;
  color: #fff;
}

.text-align{
  position: absolute;
  margin-top: 25%;
  margin-left: 10%;
  font-size: 3rem;
}

.text-align p{
color: #fff;
}

.see-more{
  border: none;
  border-radius: 5px;
  padding:0.5em;
}


.hot-products{
  margin: 3em 0em;
}

.fs-4 i{
  font-size: 4rem;
  display: flex;
 margin:0.5em;
}

.btn{
  padding: .5em;
  background-color: transparent;
  border-radius: 5px;
  color: #fff;
}


.input{
  padding: .5em;
 background-color: transparent;
 color: #fff;
  border-radius: 5px;
  border: none;
}

